<div>
  <div class="toolbar toolbar--material">
    <div class="toolbar__center toolbar--material__center">
      Dominoes Counter
    </div>
  </div>

  <div style="height: 100px; padding: 1px 0 0 0;">
    <div class="card card--material">
      <div class="card__content card--material__content">Add points to hand winner.</div>
    </div>
  </div>

  <ul class="list list--inset">
    <li class="list-item list--inset__item">
      <div class="list-item__center">
        <ons-row vertical-align="center">
          <ons-col>
            Winner team: 
          </ons-col>
          <ons-col vertical-align="center">
            <select class="select-input select-input--material" tp-model="winner">
              <option value="team1">{{ team1 }}</option>
              <option value="team2">{{ team2 }}</option>
            </select>
          </ons-col>
        </ons-row>
      </div>
    </li>
    
    <li class="list-item list--inset__item">
      <div class="list-item__center">
        <ons-row vertical-align="center">
          <ons-col>
            Score Points: 
          </ons-col>
          <ons-col vertical-align="center" width="70%">
            <input type="number" class="text-input text-input--material" max="100" min="0" placeholder="Points" tp-model="score">
          </ons-col>
        </ons-row>
      </div>
    </li>

  </ul>

  <br>

  <button class="button--large--cta" style="width: 95%; margin: 0 auto;" tp-on:click="addScore">Add Score</button>
</div>