<div transition="expand">
  <div>
  <div class="toolbar toolbar--material">
    <div class="toolbar__center toolbar--material__center">
      Dominoes Counter
    </div>
  </div>
  <div style="height: 100px; padding: 1px 0 0 0;">
      <div class="card card--material">
        <div class="card__title card--material__title">Somebody has won!!</div>
        <div class="card__content card--material__content"><b>{{ message }}</b></div>
      </div>
    </div>

  <br>

  <button class="button--large--cta" style="width: 95%; margin: 0 auto;" tp-on:click="restart">Restart!</button>
</div>