<div transition="expand">
  <div class="toolbar toolbar--material">
    <div class="toolbar__center toolbar--material__center">
      Dominoes Counter
    </div>
  </div>
  <div style="height: 100px; padding: 1px 0 0 0;">
    <div class="card card--material">
      <div class="card__title card--material__title">Dominoes Counter</div>
      <div class="card__content card--material__content">Keep track of your point in a Dominoes match.</div>
    </div>
  </div>
  <br>
  <div stlye="margin: auto; text-align: center;">
    <img src="images/logo.png" alt="Girl in a jacket" style="display: block; margin: auto; width: 80%;">
  </div>
  <br>
  <button class="button--large--cta" style="width: 95%; margin: 0 auto;" tp-on:click="startGame">Start</button>
</div>